.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .links {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .links a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .links a:hover {
    color: #555;
  }
  
  .route-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .route-content {
    width: 80%;
    max-width: 1200px;
  }
  